
<div class="" padding>
	<h2 class="fs-14">Slide with slogan</h2>

	<ion-slides pager="false" class="slide-slogan" [options]="slideSloganOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div padding class="slogan">
					<div padding class="main-txt" text-left>
						<h2 no-margin class="fs-30 fw-900">Buzz!!!</h2>
						<hr/>
						<h5 no-margin class="txt-light fw-600 fs-20">Lorem Ipsum</h5>
						<p no-margin class="txt-light fs-12 ellipsis">Various versions have evolved</p>
						<hr/>
						<ion-button expand="round" size="small" fill="outline" color="light" class="txt-light">
							Detail
							<ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
						</ion-button>
					</div>
				</div>
				<div class="bg-img">
					<img src="assets/images/lemon13.jpg">
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div padding class="slogan">
					<div padding class="main-txt" text-left>
						<h2 no-margin class="txt-light fs-30 fw-900">Buzz!!!</h2>
						<hr/>
						<h5 no-margin class="txt-light fw-600 fs-20">Lorem Ipsum</h5>
						<p no-margin class="txt-light fs-12 ellipsis">Various versions have evolved</p>
						<hr/>
						<ion-button expand="round" size="small" fill="outline" color="light" class="txt-light">
							Detail
							<ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
						</ion-button>
					</div>
				</div>
				<div class="bg-img">
					<img src="assets/images/lemon18.jpg">
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div padding class="slogan">
					<div padding class="main-txt" text-left>
						<h2 no-margin class="txt-light fs-30 fw-900">Buzz!!!</h2>
						<hr/>
						<h5 no-margin class="txt-light fw-600 fs-20">Lorem Ipsum</h5>
						<p no-margin class="txt-light fs-12 ellipsis">Various versions have evolved</p>
						<hr/>
						<ion-button expand="round" size="small" fill="outline" color="light" class="txt-light">
							Detail
							<ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
						</ion-button>
					</div>
				</div>
				<div class="bg-img">
					<img src="assets/images/lemon23.jpg">
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>



<div class="" padding>
	<h2 class="fs-14">Slide perview overflow</h2>

	<ion-slides pager="false" class="slide-perview" [options]="slidePerViewOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon17.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon16.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon12.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>



<div class="" padding>
	<h2 class="fs-14">Slide with thumb</h2>

	<ion-slides pager="false" class="slide-thumb" [options]="slideThumbOpts">
		<ion-slide>
			<div padding class="elmt-slide">
				<div class="thumb-img shadow-3">
					<img src="assets/images/lemon1.png">
				</div>
				<div padding class="main-txt" text-left>
					<h2 class="txt1 uppercase fw-900">Lorem Ipsum</h2>
					<h4 no-margin class="txt2 fw-600 fs-16 uppercase underline">There are many variations</h4>
					<p class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div padding class="elmt-slide">
				<div class="thumb-img shadow-3">
					<img src="assets/images/lemon2.png">
				</div>
				<div padding class="main-txt" text-left>
					<h2 class="txt1 uppercase fw-900">Lorem Ipsum</h2>
					<h4 no-margin class="txt2 fw-600 fs-16 uppercase underline">There are many variations</h4>
					<p class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div padding class="elmt-slide">
				<div class="thumb-img shadow-3">
					<img src="assets/images/lemon3.png">
				</div>
				<div padding class="main-txt" text-left>
					<h2 class="txt1 uppercase fw-900">Lorem Ipsum</h2>
					<h4 no-margin class="txt2 fw-600 fs-16 uppercase underline">There are many variations</h4>
					<p class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>




<div class="">
	<h2 padding class="fs-14">Slide thin</h2>

	<ion-slides pager="false" class="slide-thin" [options]="slideThinOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon4.png">
				</div>
				<div class="main-txt pdl-10" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon5.png">
				</div>
				<div class="main-txt pdl-10" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon6.png">
				</div>
				<div class="main-txt pdl-10" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>

<br/>



<div class="" padding>
	<h2 class="fs-14">Slide freedom</h2>

	<ion-slides pager="false" class="slide-freedom" [options]="slideFreedomOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon23.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon24.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon25.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>


<div class="" padding>
	<h2 class="fs-14">Slide center</h2>
	<br/>
	<br/>

	<ion-slides pager="false" class="slide-center" [options]="slideCenterOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon23.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon24.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon25.jpg">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>

<br/>


<div class="" padding>
	<h2 class="fs-14">Slide side</h2>
	<br/>
	<br/>

	<ion-slides pager="false" class="slide-side" [options]="slideSideOpts">
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon1.png">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon2.png">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<div class="thumb-img">
					<img src="assets/images/lemon3.png">
				</div>
				<div class="main-txt" text-left>
					<hr>
					<h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Lorem Ipsum</h4>
					<p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</div>

<br/>
<br/>