
<div class="wrap-register-v2">
	<div class="wrap-interval pdl-50 pdr-50">
		<div class="brand">
			<img src="assets/images/lemon_b.png">
			<ion-button size="small" class="mgt-5" fill="clear">Login</ion-button>
		</div>
		<br/>
		<div text-center class="">
			<ion-icon class="txt3 fs-100" name="md-contact"></ion-icon>
			<p class="fs-12 txt3 pdl-20 pdr-20">Lorem Ipsum is simply dummy text of the printing</p>
		</div>
		
		<br/>
		<div class="main-form">
			<form class="" novalidate>
				<ion-item lines="none" class="bdra-30 shadow-2 bg-light">
					<ion-input type="text" placeholder="Username"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
					<ion-input type="numb" value="+84" placeholder="Phone"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bdra-30 shadow-2 mgt-10 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<br/>
				<hr/>
				<ion-button shape="round" expand="block" fill="solid" color="primary" class="uppercase spacing1 fw-600" type="submit">
					Signup
				</ion-button>
			</form>
			<hr/>
			<div text-center class="">
				<p class="fs-12 txt3 mgb-5">Login with</p>
				<ion-button mode="md" shape="round" fill="outline" color="info" class="mg-5 txt-light">
				    <ion-icon name="logo-facebook"></ion-icon>
				</ion-button>
				<ion-button mode="md" shape="round" fill="outline" color="danger" class="mg-5 txt-light">
				    <ion-icon name="logo-googleplus"></ion-icon>
				</ion-button>
				<ion-button mode="md" shape="round" fill="outline" color="info" class="mg-5 txt-light">
				    <ion-icon name="logo-twitter"></ion-icon>
				</ion-button>
				<ion-button mode="md" shape="round" fill="outline" color="secondary" class="mg-5 txt-light">
				    <ion-icon name="logo-github"></ion-icon>
				</ion-button>
			</div>
			<br/>
		</div>
	</div>
</div>