
.wrap-gallery-modal{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: relative;
	.right-action{
		position: absolute;
		top: 25px;
		right: 15px;
		text-align: right;
		ion-button{
			display: block;
		}
	}
}