
<div class="wrap-login-v1">
	<div class="wrap-interval pdl-50 pdr-50">
		<div class="brand">
			<img src="assets/images/lemon_only_b.png">
			<hr/>
			<p class="txt3 fs-12 pdr-70">Lorem Ipsum is simply dummy text of the printing</p>
		</div>
		<br/>
		<br/>
		<div class="main-form">
			<form class="" novalidate>
				<ion-item lines="none" class="shadow-2 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="shadow-2 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>

				<hr/>

				<ion-row no-padding>
					<ion-col class="pd-0" size="7">
						<ion-item lines="none">
							<ion-label class="fs-12">Remember me</ion-label>
							<ion-checkbox slot="start" color="primary" value="remember"></ion-checkbox>
						</ion-item>
					</ion-col>
					<ion-col class="pd-0" size="5">
						<ion-button mode="ios" type="button" size="small" fill="clear" class="mgt-5 fs-12 txt3 lowercapse">
							Forgot pwd
						</ion-button>
					</ion-col>
				</ion-row>

				<hr/>

				<ion-row>
					<ion-col size="6">
						<ion-button size="small" expand="block" color="primary" class="uppercase spacing1 fw-600" type="submit">
							Login
						</ion-button>
					</ion-col>
					<ion-col size="6">
						<ion-button size="small" expand="block" fill="outline" class=" mgl-10 uppercase spacing1 fw-600" type="submit">
							Signup
						</ion-button>
					</ion-col>
				</ion-row>
			</form>
			<hr/>
			<p class="fs-12 uppercase txt3">Or signup with</p>
			<hr/>
			<div class="">
				<ion-button size="small" fill="clear" class="txt2">
					<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
				</ion-button>
				<ion-button size="small" fill="clear" class="txt2">
					<ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
				</ion-button>
				<ion-button size="small" fill="clear" class="txt2">
					<ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
				</ion-button>
			</div>
		</div>
		<br/>
	</div>
</div>