
.wrap-login-v1{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.wrap-interval{
		width: 100%;
	}
	.brand{
		img{
			height: 70px;
		}
	}
}

ion-radio{
	margin-right: 0;
}