
<div class="wrap-login-v4 offset-top-obj">
	<div class="wrap-interval">
		<form class="" novalidate>
			<div class="wrap-pst">
				<div class="main-form">
					<div class="brand">
						<img class="parallax-obj parallax-down-obj" src="assets/images/lemon_block_w.png">
						<hr/>
						<h2 class="txt-light fs-40 spacing1" no-margin>Sign In</h2>
					</div>
					<br/>
					<ion-item lines="none" class="bdra-30 shadow-1 bg-light">
						<ion-input type="email" placeholder="Your email address"></ion-input>
					</ion-item>
					<ion-item lines="none" class="bdra-30 mgt-10 shadow-1 bg-light">
						<ion-input type="password" placeholder="Your password"></ion-input>
					</ion-item>
					<hr/>
					<div text-right>
						<ion-button mode="ios" size="small" fill="clear" class="txt-light" type="button">
							Forgot Password?
						</ion-button>
					</div>
				</div>
				<div class="bg-img parallax-obj parallax-up-obj">
					<img src="assets/images/lemon17.jpg">
				</div>
			</div>
			<div text-center class="bottom-form pdl-50 pdr-50">
				<br/>
				<hr/>
				<ion-button mode="ios" expand="block" shape="round" color="primary" class="txt1 spacing2 fw-600" type="submit">
					Login
				</ion-button>
				<hr/>
				<p>New Member? <ion-button mode="ios" fill="clear" size="small" class="mgt--10">Sign up</ion-button></p>
			</div>
		</form>
	</div>
</div>