
<div class="">
	<div class="section">
		<div text-center class="text-section parallax-obj parallax-down-obj">
			<h2 class="txt-light uppercase fw-900 fs-30 spacing1">Lorem Ipsum</h2>
			<h4 no-margin class="txt-light fw-500 fs-20">The first line of Lorem Ipsum</h4>
			<p no-margin class="txt-light fs-14">It has survived not only five centuries</p>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/lemon1.png">
		</div>
	</div>

	<div class="section">
		<div text-center class="text-section parallax-obj parallax-down-obj">
			<h2 class="txt-light uppercase fw-900 fs-30 spacing1">Lorem Ipsum</h2>
			<h4 no-margin class="txt-light fw-500 fs-20">The first line of Lorem Ipsum</h4>
			<p no-margin class="txt-light fs-14">It has survived not only five centuries</p>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/lemon2.png">
		</div>
	</div>

	<div class="section">
		<div text-center class="text-section parallax-obj parallax-down-obj">
			<h2 class="txt-light uppercase fw-900 fs-30 spacing1">Lorem Ipsum</h2>
			<h4 no-margin class="txt-light fw-500 fs-20">The first line of Lorem Ipsum</h4>
			<p no-margin class="txt-light fs-14">It has survived not only five centuries</p>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/lemon3.png">
		</div>
	</div>

	<div class="section">
		<div text-center class="text-section parallax-obj parallax-down-obj">
			<h2 class="txt-light uppercase fw-900 fs-30 spacing1">Lorem Ipsum</h2>
			<h4 no-margin class="txt-light fw-500 fs-20">The first line of Lorem Ipsum</h4>
			<p no-margin class="txt-light fs-14">It has survived not only five centuries</p>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/lemon4.png">
		</div>
	</div>

	<div class="section">
		<div text-center class="text-section parallax-obj parallax-down-obj">
			<h2 class="txt-light uppercase fw-900 fs-30 spacing1">Lorem Ipsum</h2>
			<h4 no-margin class="txt-light fw-500 fs-20">The first line of Lorem Ipsum</h4>
			<p no-margin class="txt-light fs-14">It has survived not only five centuries</p>
		</div>
		<div class="bg-section-img">
			<img class="parallax-obj parallax-up-obj" src="assets/images/lemon5.png">
		</div>
	</div>
</div>