// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
@import "../../../../theme/mixins/inputs/select-alert";

:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--app-background-shade);
	--page-highlighted-background: var(--ion-color-secondary-tint);
	
	.swiper-pagination-bullet {
		color:#f5a623 !important;
	}
	.swiper-slide {
		display: unset;
	}
		ion-item{
		//	--ion-background-color:#111606 !important;
		//	--ion-background:transparent !important;
			--ion-border-style:none;
			--ion---box-shadow:none;
			width:45vh;
			color:white;
	 }
	
	}
	ion-header {
		ion-toolbar {
			--background: #060606;
		}
	}
	.div-header{
		text-align: center;
    background: transparent;
    color: white;
		
		.prof-name{
			font-size: 30px;
			font-weight: 900;
			color: #f5a623;
		}
	}
	.span-size{
		font-size: 20px;
	}
	
	.signup-btn {
		--color: yellow;
  
		margin: 0px;
	  }
	.inputs-list {
		--ion-item-background: transparent !important;

		// padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);
		//margin-top: var(--page-margin) var(--page-margin) calc(var(--page-margin) - 2);
		// margin: calc(var(--page-margin)) var(--page-margin) 0px;
		}
		.submit-btn {
			border: 3px solid #f5a623;
			border-radius: 50px;
			--color: #fff;
			--background: #0f0f1157;
			letter-spacing: 1px;
			padding: 0 20px;
			cursor: pointer;
  	
		}
		.cancelButton{
			margin: calc(var(--page-margin) * -2) var(--page-margin) 0px;
			position: absolute;
			z-index:-1;
		}
	.forms-validations-content {
		--background: var(--page-background);
	
		.validations-form {
			//margin-bottom: calc(var(--page-margin) * 2);
			
			.error-container {
				.error-message {
					margin: calc(var(--page-margin) / 2) 0px;
					align-items: center;
					color: var(--ion-color-danger);
					font-size: 14px;
					text-align:right;
					ion-icon {
						padding-inline-end: calc(var(--page-margin) / 2);
						flex-shrink: 0;
					}
				}
			}

			.inputs-list {
				--ion-item-background: var(--page-background);
	
				padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);
	
				ion-list-header {
					padding-inline-start: 0px;
	
					.header-title {
						text-transform: uppercase;
						font-size: 16px;
						color: var(--ion-color-secondary);
					}
				}
	
				.input-item {
					--padding-start: 0px;
					--padding-end: 0px;
					--inner-padding-end: 0px;
				}
	
				.terms-item {
					--border-width: 0px;
					--inner-padding-end: 0px;
				}
	
				
	
				.counter-item {
					app-counter-input {
						--counter-background: transparent;
						--counter-color: var(--ion-color-primary);
						--counter-border-color: var(--ion-color-primary);
					}
	
					.counter-value {
						text-align: center;
					}
				}
			}
	
			.submit-btn {
				margin: var(--page-margin)
			}
			@media screen and (max-width: 380px) {
				.submit-btn {
					margin: unset;
					margin-right:5px
				}
			}
		}
	}
	.slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
		border-color: transparent;
		height: 100vh;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
	}

	.no-border{
		--inner-border-width:0px;
		font-size: 20px;
	}
	.separator{
		border:1px solid #fff;
		margin: 10px 10px;
	}

	.ip-inline{
		ion-input:nth-child(1){
			display:inline-block;
			width:10%
		}

		ion-input:nth-child(2){
			display:inline-block;
			width:83%
		}
	}
	
	.btn-block{
		text-align: center;
		width: 100%;
		ion-button{
			display:inline-block;
		}

	}
	
  
	.divBackgroudImage{
		background-image: url('/assets/images/Login-in-BG.jpg');
		background-color: yellow;
		height: 100% !important;
		width: 100% !important;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
	}
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  .signup-content {
	--background: var(--page-background);
	--padding-start: var(--page-margin);
	--padding-end: var(--page-margin);
	--padding-top: var(--page-margin);
	--padding-bottom: var(--page-margin);
  
	.auth-title {
	  color: var(--ion-color-dark);
	  font-weight: bold;
	  margin-top: calc(var(--page-margin) / 2);
	  margin-bottom: calc(var(--page-margin) * (3/2));
	  letter-spacing: 0.6px;
	}
  
  
	.inputs-list {
	  --ion-item-background: var(--page-background);
  
	  .input-item {
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
	  }
  
	  .error-container {
		.error-message {
		  margin: calc(var(--page-margin) / 2) 0px;
		  display: flex;
		  align-items: center;
		  color: var(--ion-color-danger);
		  font-size: 14px;
  
		  ion-icon {
			padding-inline-end: calc(var(--page-margin) / 2);
		  }
		}
	  }
	}
  
	 
  
	.other-auth-options-row {
	  justify-content: flex-end;
	  align-items: center;
  
	  .login-btn {
		--color: var(--ion-color-secondary);
  
		margin: 0px;
	  }
	}
  
	.social-auth-options {
	  .options-divider {
		color: var(--ion-color-medium);
			margin: var(--page-margin) 0px;
			text-align: center;
	  }
  
	  .social-auth-btn {
		margin: 0px;
  
		&:not(:first-child) {
		  margin-top: var(--page-margin);
		}
	  }
	}
  
	  .legal-stuff {
		  text-align: center;
	  font-size: 14px;
	  margin: var(--page-margin) 0px;
	  color: var(--ion-color-medium);
  
		  .legal-action {
			  font-weight: 500;
			  color: var(--ion-color-secondary);
		cursor: pointer;
		  }
	  }
  }
  