
<div class="wrap-login-v6 offset-top-obj">
	<div class="wrap-interval">
		<div text-center class="brand">
			<div class="pdt-50">
				<img class="parallax-obj parallax-down-obj" src="assets/images/lemon_only_w.png">
				<h2 no-margin class="txt-light fs-24 fw-700 uppercase">Hello</h2>
				<h2 no-margin class="txt-light fs-46 fw-800">Lemon</h2>
			</div>
		</div>
		<div text-center class="main-form">
			<form class="" novalidate>
				<ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bg-white bdra-30 mgt-10 shadow-1 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<br/>
				<ion-button expand="block" shape="round" color="primary" class="txt1 mgt-10 spacing2 fw-600" type="submit">
					Login
				</ion-button>
				<hr/>
				<ion-button  mode="ios"size="small" fill="clear" class="txt-light fs-12" type="button">
					Createte an new account?
				</ion-button>
			</form>
			<div class="bottom-form">
				<ion-button mode="ios" fill="clear" size="small" class="txt-light fs-12" type="button">Reset Password?</ion-button>
			</div>
		</div>
	</div>
	<div class="bg-img">
		<img src="assets/images/lemon25.jpg">
	</div>
</div>