
<div class="wrap-profile-v4">
	<div padding class="main-info shadow-2">
		<br/>
		<br/>
		<div class="top-info">
			<div class="wrap-avt">
				<div class="avt mgr-25 shadow-3">
					<img src="assets/images/avt5.jpg">
				</div>
			</div>
			<div class="society-info">
				<div class="relation">
					<div class="pdr-15">
						<h5 no-margin class="txt1 fw-600">32k</h5>
						<p no-margin class="txt3 fs-12">Follower</p>
					</div>
					<div class="pdr-15">
						<h5 no-margin class="txt1 fw-600">135</h5>
						<p no-margin class="txt3 fs-12">Following</p>
					</div>
				</div>
				<hr/>
				<div class="address">
					<h3 no-margin class="txt1 fs-18">Ha Noi-Viet Nam</h3>
					<p no-margin class="txt3 fs-12">
						<ion-icon name="ios-pin"></ion-icon>
						324 Thuykhue, Hanoi (VN)
					</p>
				</div>
			</div>
		</div>

		<div class="username">
			<br/>
			<h3 no-margin class="txt1 mgt-5">Trieu Koodinh</h3>
			<p no-margin class="txt3 fs-12">Designer 
				<span class="txt-primary fw-600">_ Koodinh@gmail.com</span>
			</p>
			<br/>
			<br/>
			<p class="fs-12 txt3">Description</p>
			<p class="fs-14 txt1">
				Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
			</p>
		</div>

		<br/>

		<div class="more-action mgb--25 mgr-20">
			<ion-button class="" color="primary" shape="round">Message</ion-button>
			<ion-button class="mgl-10" color="secondary" shape="round">Follow</ion-button>
		</div>
	</div>

	<br/>
	<br/>

	<div padding class="st-name">
		<h2 no-margin class="uppercase fs-12">Recent photos</h2>
		<ion-button class="fs-12 txt4" size="small" fill="clear">Show all</ion-button>
	</div>

	<div class="slisde-blog-list">
		
		<ion-slides pager="false" [options]="slideBlogListOpts">
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon11.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon12.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon13.jpg">
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<br/>
	
	<div padding class="st-name">
		<h2 no-margin class="uppercase fs-12">Stories</h2>
		<ion-button class="fs-12 txt4" size="small" fill="clear">Show all</ion-button>
	</div>

	<div class="slisde-blog-list-mini">
		
		<ion-slides pager="false" [options]="slideBlogListMiniOpts">
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon14.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon15.jpg">
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon16.jpg">
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<br/>

	
	<div padding class="st-name">
		<h2 no-margin class="uppercase fs-12">All posted - 325</h2>
	</div>	

	<div class="wrapper-masonry wrap-posted">
		<ion-row>
			<ion-col>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon20.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon1.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon11.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon2.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon12.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon13.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon15.jpg">
				</div>
			</ion-col>
			<ion-col>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon18.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon19.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon3.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon4.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon14.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon5.png">
				</div>
			</ion-col>
			<ion-col>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon6.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon16.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon17.jpg">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon7.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon8.png">
				</div>
				<div class="element-gallery pdt-2">
					<img src="assets/images/lemon20.jpg">
				</div>
			</ion-col>
		</ion-row>
	</div>

	<br/>
	<br/>

</div>