
<div class="wrap-login-v5 offset-top-obj">
	<div class="wrap-interval">
		<div class="brand">
			<img class="parallax-obj parallax-down-obj" src="assets/images/lemon_block_b.png">
		</div>
		<br/>
		<br/>
		<div class="main-form">
			<form class="" novalidate>
				<ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bg-white bdra-30 mgt-10 shadow-1 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<ion-button mode="ios" expand="block" shape="round" color="primary" class="txt1 mgt-10 spacing2 fw-600" type="submit">
					Login
				</ion-button>
				<div text-right>
					<ion-button mode="ios" size="small" fill="clear" class="txt3" type="button">
						Forgot Password?
					</ion-button>
				</div>

				<br/>

				<div class="social-login">
					<ion-button size="small" fill="clear" class="txt2">
						<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
					</ion-button>
					<ion-button size="small" fill="clear" class="txt2">
						<ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
					</ion-button>
				</div>

				<hr/>
				<p class="fs-12 txt3">New Member? <ion-button mode="ios" fill="clear" size="small" class="mgt--10">Sign up</ion-button></p>
			</form>
		</div>
	</div>
</div>