
<div padding class="wrap-gallery-list">
	<div class="top-slide pdb-40">
		<ion-slides [options]="slideOpts" class="parallax-obj">
		    <ion-slide class="">
		    	<div text-left (click)="viewImg('lemon2.png')" class="wrap-slide">	
			      	<div class="view-thumb shadow-2">
			          <img src="assets/images/lemon2.png">
			        </div>
			        <h2 no-margin class="fs-14 pdt-10 fw-600 txt1 ellipsis">Beautiful and clean design</h2>
			        <p no-margin class="fs-12 txt2 ellipsis">built-in firebase</p>
			    </div>
		    </ion-slide>
		    <ion-slide class="">
		    	<div text-left (click)="viewImg('lemon4.png')" class="wrap-slide">
		    		<div class="view-thumb shadow-2">
		          		<img src="assets/images/lemon4.png">
		        	</div>
		          	<h2 no-margin class="fs-14 pdt-10 fw-600 txt1 ellipsis">30% Discount</h2>
		          	<p no-margin class="fs-12 txt2 ellipsis">Discounted the first 100 people</p>
		        </div>
		    </ion-slide>
		    <ion-slide class="">
		    	<div text-left (click)="viewImg('lemon6.png')" class="wrap-slide">
			    	<div class="view-thumb shadow-2">
			          <img src="assets/images/lemon6.png">
			        </div>
			        <h2 no-margin class="fs-14 pdt-10 fw-600 txt1 ellipsis">Lorem Impsum</h2>
			        <p no-margin class="fs-12 txt2 ellipsis">It was popularised in the 1960s</p>
		        </div>
		    </ion-slide>
		</ion-slides>
	</div>

	<ion-row no-padding (click)="viewImg('lemon1.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon1.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon2.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon2.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon3.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon3.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon4.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon4.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon5.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon5.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon6.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon6.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon7.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon7.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon8.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon8.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon9.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon9.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding (click)="viewImg('lemon10.png')">
		<ion-col size="3">
			<div class="thumb">
				<img src="assets/images/lemon10.png">
			</div>
		</ion-col>
		<ion-col size="9" class="info">
			<div class="">
				<h4 no-margin class="pdb-5 fs-14 fw-600 txt1 ellipsis">Letraset sheets containing</h4>
				<p no-margin class="pdt-2 fs-12 txt3 ellipsis">Lorem Ipsum is simply dummy text</p>
			</div>
		</ion-col>
	</ion-row>
</div>