
<div class="wrap-parallax-cover bg-light offset-top-obj">
	<div class="cover">
		<div padding class="parallax-obj parallax-down-obj txt-cover txt-light mgt-70">
			<h2 class="pdr-50 fs-30 fw-700 spacing-1">Aldus PageMaker including versions</h2>
		</div>
		<img class="parallax-obj parallax-down-fast-obj parallax-blur-obj" src="assets/images/lemon23.jpg">
	</div>
	<div padding class="parallax-obj parallax-collapse-start-scroll-obj bg-medium collapse-select pdb-50">
		<p class="txt4">More select option</p>
		<ion-slides pager="false" [options]="slideMiniOpts">
			<ion-slide>
				<div class="img-collection shadow-3 bdra-5">
					<img src="assets/images/lemon1.png">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img-collection shadow-3 bdra-5">
					<img src="assets/images/lemon2.png">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img-collection shadow-3 bdra-5">
					<img src="assets/images/lemon4.png">
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	<div padding class="mgt--50 main-content">
		<div padding class="mgb-15 bdra-5 shadow-1 bg-white">
			<h2 class="fw-900">Koodinh</h2>
			<p no-margin class="txt2">koodinh@gmail.com</p>
			<p no-margin class="txt3 fs-14">2b/324 Thuy khue, Tay Ho, Ha Noi</p>
		</div>
		<div padding class="mgb-15 bdra-5 shadow-1 bg-white">
			<h4 class="fw-600 fs-14">description</h4>
			<p class="txt2 fs-14">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</p>
		</div>
		<div padding class="mgb-15 bdra-5 shadow-1 bg-white">
			<h4 class="fw-600 fs-14">Friend Latest</h4>
			<div class="avt-thumb bdra-30 mg-5">
				<img src="assets/images/avt1.jpg">
			</div>
			<div class="avt-thumb bdra-30 mg-5">
				<img src="assets/images/avt2.jpg">
			</div>
			<div class="avt-thumb bdra-30 mg-5">
				<img src="assets/images/avt3.jpg">
			</div>
			<div class="avt-thumb bdra-30 mg-5">
				<img src="assets/images/avt4.jpg">
			</div>
		</div>

		<div padding class="mgb-15 bdra-5 shadow-1 bg-white">
			<h4 class="fw-600 fs-14">Posted</h4>
			<ion-row>
				<ion-col>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon20.jpg">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon1.png">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon11.jpg">
					</div>
				</ion-col>
				<ion-col>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon18.jpg">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon19.jpg">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon3.png">
					</div>
				</ion-col>
				<ion-col>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon6.png">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon16.jpg">
					</div>
					<div class="element-gallery pdt-2">
						<img src="assets/images/lemon17.jpg">
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>
</div>

