
<div class="wrap-blog-timeline bg-light offset-top-obj">
	<div class="cover">
		<div padding class="slogan txt-light pdr-150">
			<div class="parallax-obj parallax-up-obj">
				<h3 class="fw-600 fs-20 uppercase">Simply dummy text of the printing</h3>
				<p class="fs-13">Lorem Ipsum is simply dummy text of the typesetting industry</p>
			</div>
		</div>
		<div class="bg-img">
			<img class="parallax-obj parallax-down-obj parallax-blur-obj" src="assets/images/lemon24.jpg">
		</div>
	</div>
	<div class="hightlight pdl-15 mgt-25 mgb-15">
		<ion-slides pager="false" [options]="slideTimelineOpts">
			<ion-slide>
				<div class="elmt-slide">
					<div class="img-collection shadow-1 bdra-5">
						<img src="assets/images/lemon1.png">
					</div>
					<h4 no-margin class="txt3 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="elmt-slide">
					<div class="img-collection shadow-1 bdra-5">
						<img src="assets/images/lemon2.png">
					</div>
					<h4 no-margin class="txt3 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="elmt-slide">
					<div class="img-collection shadow-1 bdra-5">
						<img src="assets/images/lemon4.png">
					</div>
					<h4 no-margin class="txt3 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	<div padding class="">
		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="primary">
							  <ion-icon name="airplane"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon1.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="premary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
							  <ion-icon name="alarm"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon2.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="primary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
							  <ion-icon name="pulse"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon3.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="primary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
							  <ion-icon name="shirt"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon4.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="primary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
							  <ion-icon name="tennisball"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon5.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="primary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>

		<ion-list lines="none" class="shadow-3 mgb-10">
			<ion-item-sliding>
			    <ion-item>
			      	<div class="element-blog bg-white">
						<div class="line">
							<div class="decor bg-white-3"></div>
							<ion-button shape="round" size="small" fill="solid" color="light">
							  <ion-icon name="trophy"></ion-icon>
							</ion-button>
						</div>
						<div padding class="txt-content pdt-5 pdb-5">
							<h4 no-margin class="fs-14 fw-600 ellipsis pdt-10">Lorem Ipsum is simply dummy text of the printing</h4>
							<p no-margin class="fs-12 txt3 pdt-5 description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p class="fs-12 txt4">at 09:33 Nov 21, 2018</p>
						</div>
						<div margin-end class="thumb-view bdra-5">
							<img src="assets/images/lemon6.png">
						</div>
					</div>
			    </ion-item>
			    <ion-item-options side="start">
			    	<ion-item-option color="dark" class="fs-12">
			      		<ion-icon slot="icon-only" name="trash"></ion-icon>
			      	</ion-item-option>
			      	<ion-item-option color="primary" class="fs-12">
			      		<ion-icon slot="icon-only" name="more"></ion-icon>
			      	</ion-item-option>
			    </ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</div>

</div>