ion-slides{
	.elmt-slide{
		height: 200px;
		overflow: hidden;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			min-height: 100%;
		}
	}
	&.mini{
		.elmt-slide{
			height: 100px;
		}
	}
}