

<div class="" padding>
	<h2 class="fs-14">SpaceBetween</h2>

	<ion-slides pager="false" [options]="slideSpaceBetweenOpts">
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon11.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon12.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon13.jpg">
			</div>
		</ion-slide>
	</ion-slides>
</div>



<div class="" padding>
	<h2 class="fs-14">PerView</h2>

	<ion-slides pager="false" class="mini" [options]="slidePerViewOpts">
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon14.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon15.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon16.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon17.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon18.jpg">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="elmt-slide">
				<img src="assets/images/lemon19.jpg">
			</div>
		</ion-slide>
	</ion-slides>
</div>


<h2 padding class="fs-14">Effect Flip</h2>

<ion-slides pager="false" [options]="slideFlipOpts">
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon11.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon12.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon13.jpg">
		</div>
	</ion-slide>
</ion-slides>


<h2 padding class="fs-14">Effect Cube</h2>

<ion-slides pager="false" [options]="slideCubeOpts">
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon14.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon15.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon16.jpg">
		</div>
	</ion-slide>
</ion-slides>


<h2 padding class="fs-14">Effect Fade</h2>

<ion-slides pager="false" [options]="slideFadeOpts">
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon17.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon18.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon19.jpg">
		</div>
	</ion-slide>
</ion-slides>


<h2 padding class="fs-14">Effect Coverflow</h2>

<ion-slides pager="false" [options]="slideCoverflowOpts">
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon20.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon21.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon22.jpg">
		</div>
	</ion-slide>
</ion-slides>


<h2 padding class="fs-14">Effect Slide</h2>

<ion-slides pager="false" [options]="slideSlideOpts">
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon23.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon24.jpg">
		</div>
	</ion-slide>
	<ion-slide>
		<div class="elmt-slide">
			<img src="assets/images/lemon25.jpg">
		</div>
	</ion-slide>
</ion-slides>
