
<ion-list lines="none">
	<ion-reorder-group (ionItemReorder)="itemReorder($event)" disabled="false">

		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon11.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon12.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon13.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon14.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon15.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon16.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon17.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon18.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon19.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>
		<ion-item>
			<ion-thumbnail slot="start">
                <img src="assets/images/lemon20.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>DOWNLOAD</h2>
                <p>Paragraph text.</p>
            </ion-label>
			<ion-reorder class="txt3" slot="end">
				<ion-icon name="ios-reorder"></ion-icon>
			</ion-reorder>
		</ion-item>

	</ion-reorder-group>
</ion-list>