<ion-action-sheet-controller></ion-action-sheet-controller>

<ion-button expand="block" id="basic" (click)="toBasic()">Basic</ion-button>
<ion-button expand="block" id="noBackdropDismiss" (click)="toNoBackdropDismiss()">No Backdrop Dismiss</ion-button>
<ion-button expand="block" id="alertFromActionSheet" (click)="toAlert()">Alert from Action Sheet</ion-button>
<ion-button expand="block" id="scrollableOptions" (click)="toScroll()">Scrollable Options</ion-button>
<ion-button expand="block" id="scrollWithoutCancel" (click)="toScrollNoCancel()">Scroll Without Cancel</ion-button>
<ion-button expand="block" id="cancelOnly" (click)="toCancelOnly()">Cancel Only</ion-button>
<ion-button expand="block" id="icons" (click)="toIcons()">Icons</ion-button>
<ion-button expand="block" id="cssClass" (click)="toWithCssClass()">Custom CSS Class</ion-button>
