
<div class="wrap-blog-list bg-light">
	<div padding class="slisde-blog-list">
		<ion-slides pager="false" [options]="slideBlogListOpts">
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon11.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14 uppercase">Lorem impsum text</h4>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon12.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14 uppercase">Lorem impsum text</h4>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon13.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14 uppercase">Lorem impsum text</h4>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<div padding class="slisde-blog-list-mini mgt-15">
		<ion-slides pager="false" [options]="slideBlogListMiniOpts">
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon14.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
					<p no-margin class="ellipsis fs-12 txt3">Lorem Ipsum is simply dummy text</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon15.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
					<p no-margin class="ellipsis fs-12 txt3">Lorem Ipsum is simply dummy text</p>
				</div>
			</ion-slide>
			<ion-slide>
				<div text-left class="elmt-slide">
					<div class="shadow-1 bdra-3 thumb-slide">
						<img src="assets/images/lemon16.jpg">
					</div>
					<h4 no-margin class="txt2 fw-600 mgt-5 ellipsis fw-500 fs-14">Lorem impsum text</h4>
					<p no-margin class="ellipsis fs-12 txt3">Lorem Ipsum is simply dummy text</p>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	

	<div padding class="">

		<div class="post-element bdra-5 bg-white shadow-1 mgb-10">
			<div padding class="thumb-view">
				<img src="assets/images/lemon11.jpg">
			</div>
			<div class="excerpt">
				<div class="right-txt">
					<h4 no-margin class="title fs-12 uppercase ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
					<p no-margin class="txt2 fs-11">at 08:00 Nov 25, 2018</p>
					<p no-margin class="description fs-12 txt3 ellipsis mgt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div padding class="">
					<ion-button slot="icon-only" expand="round" fill="clear" size="small" class="txt1">
						<ion-icon slot="icon-only" name="open"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div class="post-element bdra-5 bg-white shadow-1 mgb-10">
			<div padding class="thumb-view">
				<img src="assets/images/lemon12.jpg">
			</div>
			<div class="excerpt">
				<div class="right-txt">
					<h4 no-margin class="title fs-12 uppercase ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
					<p no-margin class="txt2 fs-11">at 08:00 Nov 25, 2018</p>
					<p no-margin class="description fs-12 txt3 ellipsis mgt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div padding class="">
					<ion-button slot="icon-only" expand="round" fill="clear" size="small" class="txt1">
						<ion-icon slot="icon-only" name="open"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div class="post-element bdra-5 bg-white shadow-1 mgb-10">
			<div padding class="thumb-view">
				<img src="assets/images/lemon13.jpg">
			</div>
			<div class="excerpt">
				<div class="right-txt">
					<h4 no-margin class="title fs-12 uppercase ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
					<p no-margin class="txt2 fs-11">at 08:00 Nov 25, 2018</p>
					<p no-margin class="description fs-12 txt3 ellipsis mgt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div padding class="">
					<ion-button slot="icon-only" expand="round" fill="clear" size="small" class="txt1">
						<ion-icon slot="icon-only" name="open"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div class="post-element bdra-5 bg-white shadow-1 mgb-10">
			<div padding class="thumb-view">
				<img src="assets/images/lemon14.jpg">
			</div>
			<div class="excerpt">
				<div class="right-txt">
					<h4 no-margin class="title fs-12 uppercase ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
					<p no-margin class="txt2 fs-11">at 08:00 Nov 25, 2018</p>
					<p no-margin class="description fs-12 txt3 ellipsis mgt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div padding class="">
					<ion-button slot="icon-only" expand="round" fill="clear" size="small" class="txt1">
						<ion-icon slot="icon-only" name="open"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div class="post-element bdra-5 bg-white shadow-1 mgb-10">
			<div padding class="thumb-view">
				<img src="assets/images/lemon15.jpg">
			</div>
			<div class="excerpt">
				<div class="right-txt">
					<h4 no-margin class="title fs-12 uppercase ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
					<p no-margin class="txt2 fs-11">at 08:00 Nov 25, 2018</p>
					<p no-margin class="description fs-12 txt3 ellipsis mgt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div padding class="">
					<ion-button slot="icon-only" expand="round" fill="clear" size="small" class="txt1">
						<ion-icon slot="icon-only" name="open"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

	</div>
</div>