
<div class="wrap-blog-post bg-light offset-top-obj">
	
	<div class="cover">
		<div class="slogan pdr-70 pdl-40 txt-light">
			<p class="uppercase fs-14">Blog</p>
			<h4 no-margin class="fs-22">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
		</div>
		<div class="bg-img">
			<img class="parallax-obj parallax-up-obj parallax-blur-obj" src="assets/images/lemon23.jpg">
		</div>
	</div>

	<div padding class="main-content mgt--90">
		<div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
			<div class="thumb-view">
				<img src="assets/images/lemon11.jpg">
			</div>
			<div padding class="excerpt">
				<div padding class="left-txt">
					<h4 no-margin class="pd-0 txt1 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					<ion-chip class="mgt-10">
						<ion-avatar>
							<img src="assets/images/avt1.jpg">
						</ion-avatar>
						<ion-label>Koodinh</ion-label>
					</ion-chip>
					<p class="description txt3 fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<p no-margin class="pdt-10 fs-12 txt4">at 03:32 Nov 21, 2018</p>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element post-img-bg shadow-3 bdra-5 bg-white">
			<div class="bg-img">
				<img src="assets/images/lemon14.jpg">
			</div>
			<div padding class="excerpt">
				<div class="left-txt">
					<div class="top-title txt-light">
						<p no-margin class="pdt-10 fs-12">at 03:32 Nov 21, 2018</p>
						<h4 no-margin class="pd-0 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					</div>
					<div class="bottom-preface txt-light">
						<ion-chip class="mgt-10">
							<ion-avatar>
								<img src="assets/images/avt2.jpg">
							</ion-avatar>
							<ion-label class="txt-light">Koodinh</ion-label>
						</ion-chip>
						<p class="description fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
			<div padding class="excerpt">
				<div padding class="left-txt">
					<div class="thumb-view">
						<img src="assets/images/lemon17.jpg">
					</div>
					<h4 class="pd-0 txt1 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					<ion-chip class="mgt-10">
						<ion-avatar>
							<img src="assets/images/avt3.jpg">
						</ion-avatar>
						<ion-label>Koodinh</ion-label>
					</ion-chip>
					<p class="description txt3 fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<p no-margin class="pdt-10 fs-12 txt4">at 03:32 Nov 21, 2018</p>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
			<div padding class="excerpt">
				<div padding class="left-txt">
					<div class="thumb-view">
						<img src="assets/images/lemon13.jpg">
					</div>
					<h4 class="pd-0 txt1 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					<ion-chip class="mgt-10">
						<ion-avatar>
							<img src="assets/images/avt4.jpg">
						</ion-avatar>
						<ion-label>Koodinh</ion-label>
					</ion-chip>
					<p class="description txt3 fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<p no-margin class="pdt-10 fs-12 txt4">at 03:32 Nov 21, 2018</p>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element post-img-bg shadow-3 bdra-5 bg-white">
			<div class="bg-img">
				<img src="assets/images/lemon25.jpg">
			</div>
			<div padding class="excerpt">
				<div class="left-txt">
					<div class="top-title txt-light">
						<p no-margin class="pdt-10 fs-12">at 03:32 Nov 21, 2018</p>
						<h4 no-margin class="pd-0 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					</div>
					<div class="bottom-preface txt-light">
						<ion-chip class="mgt-10">
							<ion-avatar>
								<img src="assets/images/avt5.jpg">
							</ion-avatar>
							<ion-label class="txt-light">Koodinh</ion-label>
						</ion-chip>
						<p class="description fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element shadow-3 bdra-5 bg-white">
			<div class="thumb-view">
				<img src="assets/images/lemon15.jpg">
			</div>
			<div padding class="excerpt">
				<div padding class="left-txt">
					<h4 no-margin class="pd-0 txt1 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					<ion-chip class="mgt-10">
						<ion-avatar>
							<img src="assets/images/avt6.jpg">
						</ion-avatar>
						<ion-label>Koodinh</ion-label>
					</ion-chip>
					<p class="description txt3 fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<p no-margin class="pdt-10 fs-12 txt4">at 03:32 Nov 21, 2018</p>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt3">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>

		<div margin-bottom class="post-element post-img-bg shadow-3 bdra-5 bg-white">
			<div class="bg-img">
				<img src="assets/images/lemon23.jpg">
			</div>
			<div padding class="excerpt">
				<div class="left-txt">
					<div class="top-title txt-light">
						<p no-margin class="pdt-10 fs-12">at 03:32 Nov 21, 2018</p>
						<h4 no-margin class="pd-0 fs-20 pdr-20">Lorem Ipsum is simply dummy text</h4>
					</div>
					<div class="bottom-preface txt-light">
						<ion-chip class="mgt-10">
							<ion-avatar>
								<img src="assets/images/avt7.jpg">
							</ion-avatar>
							<ion-label class="txt-light">Koodinh</ion-label>
						</ion-chip>
						<p class="description fs-12 pdr-20">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				</div>
				<div class="pdt-10 right-action">
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-repeat"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-open"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-share"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" class="txt-light">
						<ion-icon name="md-bookmark"></ion-icon>
					</ion-button>
				</div>
			</div>
		</div>
	</div>

</div>