
<ion-alert-controller></ion-alert-controller>

<ion-button id="basic" expand="block" (click)="toAlert()">Alert</ion-button>
<ion-button id="longMessage" expand="block" (click)="toAlertLongMessage()">Alert Long Message</ion-button>
<ion-button id="multipleButtons" expand="block" (click)="toAlertMultipleButtons()">Multiple Buttons (>2)</ion-button>
<ion-button id="noMessage" expand="block" (click)="toAlertNoMessage()">Alert No Message</ion-button>
<ion-button id="confirm" expand="block" (click)="toAlertConfirm()">Confirm</ion-button>
<ion-button id="prompt" expand="block" (click)="toAlertPrompt()">Prompt</ion-button>
<ion-button id="radio" expand="block" (click)="toAlertRadio()">Radio</ion-button>
<ion-button id="checkbox" expand="block" (click)="toAlertCheckbox()">Checkbox</ion-button>
<ion-button expand="block" (click)="toWithCssClass()">CssClass</ion-button>