
<div class="wrap-login-v9 offset-top-obj">
	<div class="wrap-interval">
		<div class="brand">
			<img class="parallax-obj parallax-down-obj" src="assets/images/lemon_block_b.png">
			<br/>
			<br/>
		</div>
		<div class="main-form">
			<form class="" novalidate>
				<ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bg-white bdra-30 mgt-10 shadow-1 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<div text-right>
					<ion-button mode="ios" size="small" fill="clear" class="txt3" type="button">
						Forgot Password?
					</ion-button>
				</div>
				<ion-button mode="ios" expand="block" shape="round" color="primary" class="txt1 mgt-10 spacing2 fw-600" type="submit">
					Login
				</ion-button>
				
				<br/>
				
				<div text-center class="social-login">
					<ion-button size="small" fill="clear" class="txt2">
						<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
					</ion-button>
					<ion-button size="small" fill="clear" class="txt2">
						<ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
					</ion-button>
					<ion-button size="small" fill="clear" class="txt2">
						<ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
					</ion-button>
				</div>

				<hr/>
				
				<p text-center class="fs-12 txt3">Create an account? <ion-button mode="ios" fill="clear" size="small" class="mgt--10">Sign up</ion-button></p>
			</form>
		</div>
		<div class="decor">
			<div class="main-decor">
				<img src="assets/images/lemon_only_b.png">
			</div>
			<div class="drop-decor">
				<div class="leaf1 bg-base"></div>
				<div class="leaf2 bg-base"></div>
				<div class="leaf3 bg-base"></div>
			</div>
		</div>
	</div>
</div>