<ion-list>
  <ion-item>
    <ion-input value="reallylonglonglonginputtoseetheedgesreallylonglonglonginputtoseetheedges"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Default Label</ion-label>
    <ion-input value="reallylonglonglonginputtoseetheedgesreallylonglonglonginputtoseetheedges"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Clear Input</ion-label>
    <ion-input clear-input value="reallylonglonglonginputtoseetheedgesreallylonglonglonginputtoseetheedges"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Floating</ion-label>
    <ion-input checked></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Type #</ion-label>
    <ion-input type="number" value="333"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Placeholder</ion-label>
    <ion-input placeholder="Enter Something"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Disabled</ion-label>
    <ion-input id="dynamicDisabled" value="Disabled" disabled="{{disabled}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Readonly</ion-label>
    <ion-input id="dynamicReadonly" value="Readonly" readonly="{{readonly}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Slot</ion-label>
    <ion-input slot="start" value="Start"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle checked slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Type #</ion-label>
    <div type="number" value="333" class="input input-md hydrated">
      <!---->
      <input aria-disabled="false" autocapitalize="none" autocomplete="off" autocorrect="off" autofocus="false" class="native-input native-input-md"
      spellcheck="false" type="number">
      <button type="button" class="input-clear-icon" hidden=""></button>
    </div>
  </ion-item>
</ion-list>

<div text-center>
  <ion-button (click)="toggleDisabled()">
    Toggle Disabled
  </ion-button>

  <ion-button color="secondary" (click)="toggleReadonly()">
    Toggle Readonly
  </ion-button>
</div>

<ion-item>
  <ion-label>Clear Input</ion-label>
  <ion-input clear-input value="reallylonglonglonginputtoseetheedgesreallylonglonglonginputtoseetheedges"></ion-input>
</ion-item>