
<div class="wrap-login-v8 offset-top-obj">
	<div class="wrap-interval">
		<div class="decor">
			<div class="decor-primary bg-base"></div>
			<div class="decor-secondary bg-secondary"></div>
			<div class="decor-tertiary bg-tertiary"></div>
		</div>
		<div text-left class="brand pdb-30 pdl-50 pdr-50">
			<div class="">
				<img class="parallax-obj parallax-down-obj" src="assets/images/lemon_b.png">
				<p class="txt1 fw-600 spacing1">Sign in to your account</p>
			</div>
		</div>
		<div class="main-form pdl-50 pdr-50">
			<form novalidate>
				<br/>
				<ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bg-white bdra-30 shadow-1 mgt-10 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<hr/>
				<div text-right class="">
					<ion-button mode="ios" fill="clear" size="small" class="txt4 fs-12" type="button">
						Forgot your password?
					</ion-button>
				</div>
				<br/>
				<br/>
				<div text-right class="fs-30 fw-900 spacing1">
					Sign In
					<ion-button expand="round" color="primary" size="small" class="txt-light mgt--20" type="submit">
						<ion-icon class="txt-light" name="arrow-round-forward"></ion-icon>
					</ion-button>
				</div>
			</form>
		</div>
		<div text-center class="bottom-form">
			<p class="fs-12 txt2">Dont't have an account?
				<ion-button mode="ios" fill="clear" size="small" class="txt-primary fs-12 fw-600 underline mgt--10" type="button">
					Create
				</ion-button>
			</p>
		</div>
	</div>
	
</div>