<ion-content padding class="bg-light">  

  <br/>
  <br/>
  <br/>
  
  <div padding class="wrap-modal-view">
    <h2>Modal Component Demo Page!</h2>
    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

    <br/>

    <ion-button (click)="dismiss()" fill="solid" size="small" color="dark" type="submit">
      <ion-icon name="ios-arrow-round-back"></ion-icon>
      Back page
    </ion-button>
  </div>

  <br/>

</ion-content>