
<div class="wrap-login-v2 offset-top-obj">
	<div class="decor">
		<div class="brand pdb-50">
			<img src="assets/images/lemon_block_w.png">
		</div>
		<div class="more-action pd-20">
			<div text-left class="social-login">
				<p class="txt-light mgb-5 fs-12 pdl-15">Join Lemon with</p>
				<ion-button fill="clear" class="txt-light mgr-5">
					<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
				</ion-button>
				<ion-button fill="clear" class="txt-light mgr-5">
					<ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
				</ion-button>
				<ion-button fill="clear" class="txt-light mgr-5">
					<ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
				</ion-button>
			</div>
			<div text-right class="">
				<ion-button fill="clear" class="txt-light mgl-5 mgr-5 uppercase fw-500">
					Signup
				</ion-button>
			</div>
		</div>
		<div class="bg-img">
			<img src="assets/images/lemon18.jpg">
		</div>
	</div>
	<div class="wrap-interval pdl-50 pdr-50">
		<div class="main-form">
			<br>
			<form class="" novalidate>
				<ion-item lines="none" class="bdra-30 shadow-2 bg-light">
					<ion-input type="email" placeholder="Your email address"></ion-input>
				</ion-item>
				<ion-item lines="none" class="bdra-30 mgt-10 shadow-2 bg-light">
					<ion-input type="password" placeholder="Your password"></ion-input>
				</ion-item>
				<hr/>
				<ion-button expand="block" shape="round" color="primary" class="uppercase spacing1 fw-600" type="submit">
					Login
				</ion-button>
			</form>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>