  <ion-content class="login-content">
    
    <div class="brand">
      <img src="../../../../assets/images/champ_hunt-logo.png">
    </div>
    <div class="brand-nm">
        <span no-margin class="fs-24 fw-900 " >Champ </span><span no-margin class="fs-24 fw-200 ">Hunt </span>
    </div> 
    <form [formGroup]="loginForm" (ngSubmit)="doLoginUser()" style="margin-top:10%;">
     
        <ion-item  lines="none" class="bg-white bdra-20 input-item">
          <ion-input type="email" placeholder="Enter Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <hr/>
        <ion-item class="bg-white bdra-20 input-item">
          <app-show-hide-password>
            <ion-input type="password" placeholder="Enter Password" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      
        <hr/> 
      <ion-row class="other-auth-options-row">
        <ion-button shape="round" class="login-btn" [disabled]="!loginForm.valid" (click)="doLoginUser()">LOGIN</ion-button>
        <ion-button class="forgot-btn" fill="clear" (click)="openForgotPwd()">
          Forgot Password?
        </ion-button>
        <!-- <ion-button class="signup-btn" fill="clear" (click)="openSignup()">
          Sign Up!
        </ion-button> -->
      </ion-row>
      
    </form>
    
    <div class="header-divider">
      <div class="bi-side"></div>
      <div class="txt-center">or Login with</div>
      <div class="bi-side"></div>
    </div>
    <div class="social-auth-options">
        <ion-fab-button class="social-btn fb" (click)="doFacebookLogin()"><span>f</span></ion-fab-button>
       <!-- <ion-fab-button class="social-btn tweeter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>-->
        <ion-fab-button class="social-btn g-plus" (click)="doGoogleLogin()"><ion-icon name="logo-googleplus"></ion-icon></ion-fab-button>
    </div>
    <div class="gt-612">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="align-ct">
        <ion-button shape="round" class="register-btn" (click)="openSignup()">Register</ion-button>
    </div> 
    <div class="footer" (click)="openTermsPolicies()"><p>@ 2019 Champhunt. All rights reserved.</p></div> 
  </ion-content>
   
  